<h1>{{title}}</h1>
<h2>{{num}}</h2>

<form [formGroup]="userForm">
  <input type="text" formControlName="login">
  <br>
  <input type="text" formControlName="password">
  <br>
  <button (click)="save(userForm)" [disabled]="userForm.invalid">save our user</button>
</form>
<hr>
<a routerLink="next">let's go to next-new module</a>
<br>
<a routerLink="beh">lets to beh</a>
<hr>
<router-outlet></router-outlet>
<app-hello (Newemit)="changeTitle($event)"></app-hello>
<app-counter (countEmit)="number($event)"></app-counter>
